<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.dao.UserDao">


    <select id="getOne" resultType="com.zzy.entity.Auction_user">
		select * from auction_user where
		user_name=#{0} and user_password=#{1}
	</select>

    <insert id="insert">
		insert into auction_user(user_id,user_name,user_password,user_is_admin)
		values(seq_book.nextval,#{0},#{1},0)
	</insert>

</mapper>